@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
body {
  margin: 0;
  background-color: gainsboro;
  font-family: "Roboto", sans-serf;
}

footer p {
  text-align: right;
  position: sticky;
}

strong {
  font-weight: bold;
}

.home-bg {
  background-image: url("../images/cs_support.png");
  background-image: no-repeat;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  font-weight: bold;
  margin: 0.5em 1em;
}

.card {
  width: 30vw;
  /*height: 100%;*/
  display: flex;
  position: absolute;
  align-items: center;
  float: left;
  padding: 2em;
  background-color: #d1eaf0;
  border-radius: 20px;
  overflow: hidden;
  /* Position the card at mid-right --> */
  top: 28em; 
  right: 1em;
}

.frame {
  position: relative;
  width: 62vw;
  height: 100%;
  margin: 5em 2em 2em 1.5em;
  padding: 2em;
  background-color: #d1eaf0;
  border-radius: 20px;
  overflow: hidden;
}

.ulist {
  display: flex;
  justify-content: center;
  align-items: right;
}

.nav-item {
  margin-left: 2rem;
}

nav {
  background: gainsboro;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  box-shadow: gainsboro;
  position: sticky;
  /*top: 0;
  left: 0;*/
  z-index: 1;
}

/* Smooth scroll effect */
html {
  scroll-behavior: smooth;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition);
  /*border: 1px solid red; Boxes an element with solid red lines*/
}

.ulist li {
  list-style-type: none;
}

.a-icon {
  text-decoration: none;
  color: var(--primary-color);
}

.a-icon:hover {
  color: var(--secondary-color);
}
