<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="../static/images/icon_2.png" />
    <nav>
      <a href="{{ url_for('main.home') }}" class="a-icon">
        <h3>
          <span
            ><div style="position: top-left; color: rgb(3, 3, 48)">
              <b>Custopedia</b>
            </div></span
          >
        </h3>
      </a>
    </nav>

    <ul class="ulist">
      <li class="nav-item">
        <a href="{{ url_for('main.home') }}" class="nav-link" id="nav-link"
          ><span class="btn btn-dark" style="border-radius: 25px; padding: 1em; white-space: nowrap;">Home Page</span></a
        >
      </li>
      {% if current_user.is_anonymous %}
      <li class="nav-item">
        <a
          href="{{ url_for('tickets.new_ticket') }}"
          class="nav-link"
          id="nav-link"
          ><span class="btn btn-dark" style="border-radius: 25px; padding: 1em; white-space: nowrap;">Create a Ticket</span></a
        >
      </li>
      <li class="nav-item">
        <a href="{{ url_for('users.sign_in') }}" class="nav-link" id="nav-link"
          ><span class="btn btn-dark" style="border-radius: 25px; padding: 1em; white-space: nowrap;">Sign In</span></a
        >
      </li>
      <li class="nav-item">
        <a href="{{ url_for('users.register') }}" class="nav-link" id="nav-link"
          ><span class="btn btn-dark" style="border-radius: 25px; padding: 1em; white-space: nowrap;  margin-right: 1em;">Register</span></a
        >
      </li>
      {% else %}
      <li class="nav-item">
        <a
          href="{{ url_for('tickets.new_ticket') }}"
          class="nav-link"
          id="nav-link"
          ><span class="btn btn-dark" style="border-radius: 25px; padding: 1em; white-space: nowrap;">Create a Ticket</span></a
        >
      </li>
      <li class="nav-item">
        <a
          href="{{ url_for('tickets.ticket_history') }}"
          class="nav-link"
          id="nav-link"
          ><span class="btn btn-dark" style="border-radius: 25px; padding: 1em; white-space: nowrap;">Ticket History</span></a
        >
      </li>
      <li class="nav-item">
        <a href="{{ url_for('users.sign_out') }}" class="nav-link" id="nav-link"
          ><span class="btn btn-dark" style="border-radius: 25px; padding: 1em; white-space: nowrap;  margin-right: 1em;">Sign Out</span></a
        >
      </li>
      {% endif %}
    </ul>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/main.css') }}"
    />
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome to Custopedia!</title>
    {% endif %}
  </head>
  <body>
    <hr />
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %} {% block content %}{% endblock %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
  <!--<footer>
    <p>
      &copy;All rights reserved. <b>Custopedia.</b> Contact felixayot@gmail.com
      for inquiries.
    </p>
  </footer>-->
</html>
