{% extends 'base.html' %} {% block content %}
  <div class="p-3 mb-2 bg-primary-subtle text-emphasis-primary">
    <h1>Custopedia. Reach out to us.</h1>
  </div>
  <div class="p-3 mb-2 bg-dark-subtle" style="background-image: url(../static/images/cs_support.png); font-size: 18px; border-radius: 20px; font-weight: bold;">
    <p style="color: whitesmoke;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quibusdam
      consequatur dicta ducimus ipsum magni numquam laudantium officiis earum.
      Nihil doloribus quod eius nisi, quia numquam atque beatae, quidem ratione
      ullam sint reiciendis dolore tempora accusantium ipsa accusamus eum. Qui
      veritatis ad voluptates iste dolorum odio numquam, illo tempore maiores!</p>
  </div>

<div class="frame" class="p-3 mb-2 bg-info-subtle text-emphasis-info">
    <ul>
      <h3><b>Find answers to our FAQs from the knowledge base below:</b></h3>
      <li>
<b>Q: What is bank? What are the types of banks?</b><br>


          <b>A:</b> A bank is a financial institution licensed as a receiver of cash
          deposits. There are two types of banks, commercial banks and investment
          banks. In most of the countries, banks are regulated by the national
          government or central bank.

      </li>
      <li>
<b>Q: What is investment banking?</b><br>

          <b>A:</b> Investment banking manages portfolios of financial assets,
          commodity and currency, fixed income, corporate finance, corporate
          advisory services for mergers and acquisitions, debt and equity writing
          etc.

      </li>
      <li>
<b>Q: What is commercial bank?</b><br>

          <b>A:</b> Commercial bank is owned by the group of individuals or by a
          member of Federal Reserve System. The commercial bank offer services to
          individuals, they are primarily concerned with receiving deposits and
          lending to business. Such bank earns money by imposing interest on the
          loan borrowed by the borrower. The money that is deposited by the customer
          will be used by the bank to give business loan, auto loan, mortgages and
          home repair loans.

      </li>
      <li>
<b>Q: What are the types of Commercial Banks?</b><br>

          <b>A:</b> They include Retail or consumer banking, Corporate or business
          banking, Securities and Investment banking, Non-traditional options
      </li>
      <li>
<b>Q: What is consumer bank?</b><br>
          <b>A:</b> Consumer bank is a new addition in the banking sector, such bank
          exist only in countries like U.S.A and Germany. This bank provides loans
          to their customer to buy T.V, Car, furniture etc. and give the option of
          easy payment through instalment.

      </li>
      
    </ul>
  </div>

<div class="card">
  <img src="{{ url_for('static', filename='images/card_image.jpg') }}" class="card-img-top" style="position: sticky;">
    <div class="card-body"><h5 style="color: green; align-content: end;">Newly launched product</h5>
    <p style="color: purple" class="card-text"><p style="color: purple">Details about the product</p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
     Quod sit, aspernatur numquam recusandae doloribus incidunt fugit rem blanditiis provident ratione id iure ullam nam nesciunt eligendi natus. Excepturi, facere soluta.</p>
    <a href="#" class="btn btn-info">Link here</a>
</div>
</div>
{% endblock %}
