{% extends 'base.html' %} {% block content %}
<h1 style="margin-left: 2vw;">Create your ticket</h1>
<form action="" method="POST" enctype="multipart/form-data">
  {{ form.hidden_tag() }}

  <div class="form-group" style="margin-left: 2em; width: 60vw;">
    {{ form.title.label(class="form-control-label") }} {% if form.title.errors
    %} {{ form.title(class="form-control form-control-lg is-invalid") }}
    <div class="invalid-feedback">
      {% for error in form.title.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% else %} {{ form.title(class="form-control form-control-lg") }} {% endif
    %}
  </div>
  <br />

  <div style="margin-left: 2em; margin-right: 30em">
    <select
      name="incident_type"
      style="border-radius: 10px; width: 60vw; height: 3em"
    >
      <option selected>{{ form.incident_type.label }}</option>
      {% for choice in form.incident_type.choices %}
      <option>{{ choice }}</option>
      {% endfor %}
    </select>
    {% if
      form.incident_type.errors %} {% for error in form.incident_type.errors
      %}
      <span class="text-danger">{{ error }}</span><br />
      {% endfor %} {% endif %}
</div>
  <br />
  <div style="margin-left: 2em; margin-right: 30em">
    <select
      name="product"
      style="border-radius: 10px; width: 60vw; height: 3em"
    >
      <option selected>{{ form.product.label }}</option>
      {% for choice in form.product.choices %}
      <option>{{ choice }}</option>
      {% endfor %}
    </select>
    {% if
      form.product.errors %} {% for error in form.product.errors
      %}
      <span class="text-danger">{{ error }}</span><br />
      {% endfor %} {% endif %}
  </div>
  <br />
  <div style="margin-left: 2em; margin-right: 30em">
    <select
      name="product_category"
      style="border-radius: 10px; width: 60vw; height: 3em"
    >
      <option selected>{{ form.product_category.label }}</option>
      {% for choice in form.product_category.choices %}
      <option>{{ choice }}</option>
      {% endfor %}
    </select>
    {% if
      form.product_category.errors %} {% for error in form.product_category.errors
      %}
      <span class="text-danger">{{ error }}</span><br />
      {% endfor %} {% endif %}
  </div>
  <br />

  <div class="form-group" style="margin-left: 2em; width: 70vw;">
    {{ form.description.label(class="form-control-label") }}<br />
    <alert class="text-info bg-dark">Include as many details as possible.</alert
    ><br />
    {% if form.description.errors %} {{ form.description(class="form-control
    form-control-lg is-invalid") }}
    <div class="invalid-feedback">
      {% for error in form.description.errors %}
      <span>{{ error }}</span><br>
      {% endfor %}
    </div>
    {% else %} {{ form.description(class="form-control form-control-lg") }} {%
    endif %}
  </div>
  <br />

  <div class="form-group" style="margin-left: 2em">
    {{ form.file_attachments.label() }}<br />
    {{ form.file_attachments(class="form-control-file") }} {% if
    form.file_attachments.errors %} {% for error in form.file_attachments.errors
    %}
    <span class="text-danger">{{ error }}</span>
    {% endfor %} {% endif %}<br />
    <alert class="text-info bg-dark"
      >For several files, please upload a combined copy of all of them as one
      document.</alert
    ><br />
  </div>
  <div class="form-group" style="margin-left: 2em"><br>
    {{ form.submit(class="btn btn-outline-info") }}
  </div>
</form>
{% endblock %}
