{% extends 'base.html' %} {% block content %}
<form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4" style="margin-left: 2em">Sign In</legend>
        <div class="form-group" style="margin-left: 2em; margin-right: 50em;">
            {{ form.username.label(class="form-control-label") }}
            {% if form.username.errors %}
            {{ form.username(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.username.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.username(class="form-control form-control-lg") }}
            {% endif %}
        </div><br>

        <div class="form-group" style="margin-left: 2em; margin-right: 50em;">
            {{ form.password.label(class="form-control-label") }}
            {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.password(class="form-control form-control-lg") }}
            {% endif %}
        </div><br>

        <div class="form-check" style="margin-left: 2em">
            {{ form.remember_me(class="form-check-input") }}
            {{ form.remember_me.label(class="form-check-label") }}
        </div><br>
    </fieldset>
    <div class="form-group" style="margin-left: 2em">
        {{ form.submit(class="btn btn-outline-info") }}
    </div><br>
    <small class="text-muted ml-2" style="margin-left: 2em">
        <a href="{{ url_for('users.reset_request') }}">Forgot Password?</a>
    </small>
</form>
</div>
<div class="border-top pt-3" style="margin-left: 2em">
    <small class="text-muted">
        Not yet registered? <a class="ml-2" href="{{ url_for('users.register') }}">Sign Up here</a>
    </small>
</div><br>
{% endblock %}
