{% extends 'base.html' %} {% block content %}
<div>
  <h3><strong>Ticket title : {{ ticket.title }}</strong></h3>
</div><br>
<div class="border border-success-subtle" style="border-radius: 10px; width: 50em; margin-left: 2em">
  <h3 style="text-decoration: underline;" class="text-success">Resolution History</h3><br>
  {% if updated_ticket %}
  <div>
    <b>On {{ ticket.created_at.strftime("%a, %d %b %Y %H:%M") }}, you
      wrote:</b></div>
  <div>{{ ticket.description }}</div><br />
  {% for ut in ticket.updated %}
  <div>
    <b>On {{ ut.updated_at.strftime("%a, %d %b %Y %H:%M") }}, you
      updated:</b>
  </div>
  <div>
    {{ ut.description }}</div><br>
  {% endfor %}
  {% else %}
  <div>
    <b>On {{ ticket.created_at.strftime("%a, %d %b %Y %H:%M") }}, you
      wrote:</b>
  </div>
  <div>{{ ticket.description }}</div><br>
  {% endif %}
</div><br>
  <a class="btn btn-primary" href="{{ url_for('tickets.update_ticket', ticket_id=ticket.id) }}" style="background-color:aquamarine; border-radius: 20px; color:black; margin-left: 2em;">Update this ticket</a>
  <a class="btn btn-primary" href="{{ url_for('tickets.resolve_ticket', ticket_id=ticket.id) }}" style="background-color:#FF5A5F; border-radius: 20px; color:black">Withdraw this ticket</a>

  <div><br>
    <ul>
      <li>
        <b>Your Email address(Where we send feedbacks to your tickets):</b>&emsp;{{ ticket.owner.email }}
      </li>
      <li><b>Status:</b>&emsp;{{ ticket.status }}</li>
      {% if ticket.updated %}
      <li>
        <b>Created:</b>&emsp;{{ ticket.created_at.strftime("%a, %d %b %Y %H:%M") }}
      </li>
      <li>
        <b>Updated:</b>&emsp;{{ ticket.updated[-1].updated_at.strftime("%a, %d %b %Y %H:%M") }}
      </li>
      {% else %}
      <li>
        <b>Created:</b>&emsp;{{ ticket.created_at.strftime("%a, %d %b %Y %H:%M") }}
      </li>
      {% endif %}
      <li><b>Product:</b>&emsp;{{ ticket.product }}</li>
      <li><b>Product category:</b>&emsp;{{ ticket.product_category }}</li>
      <li><b>Incident type:</b>&emsp;{{ ticket.incident_type }}</li>
      {% if ticket.file_attachments or ticket.updated.file_attachments %}
      <li><b>Attached documents:</b>&emsp;{{ ticket.file_attachments or ticket.updated.file_attachments }}</li>
      {% endif %}
    </ul>
  </div>
</section>
{% endblock %}
