{% extends 'base.html' %} {% block content %}
<h1>Update your ticket</h1>
<form action="" method="POST" novalidate>
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.description.label(class="form-control-label") }}
    {% if form.description.errors %}
        {{ form.description(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.description.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.description(class="form-control form-control-lg") }}
    {% endif %}
</div>
<div class="form-group">
    {{ form.file_attachments.label() }}<br>
    {{ form.file_attachments(class="form-control-file") }}
    {% if form.file_attachments.errors %}
        {% for error in form.file_attachments.errors %}
            <span class="text-danger">{{ error }}</span><br>
        {% endfor %}
    {% endif %}<br>
    <alert>For several files, please upload a combined copy of all of them as one document.</alert><br />
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>    
</form>
{% endblock %}
